Package: movealong-repo
Version: 3.0.0
Architecture: all
Maintainer: Nate Riffe <inkblot@movealong.org>
Installed-Size: 19
Depends: lsb-release | base-files (>= 11)
Section: admin
Priority: optional
Homepage: https://dist.movealong.org/apt/
Description: Installs the movealong apt repository
 This package installs an apt source for the movealong apt repository
 at https://dist.movealong.org/apt/.
 .
 The package automatically detects the distribution (Ubuntu/Debian) and
 codename to configure the appropriate repository source.
