Source: movealong-repo
Section: admin
Priority: optional
Maintainer: Nate Riffe <inkblot@movealong.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://dist.movealong.org/apt/
Vcs-Git: https://github.com/inkblot/movealong-repo.git
Vcs-Browser: https://github.com/inkblot/movealong-repo

Package: movealong-repo
Architecture: all
Depends: ${misc:Depends}, lsb-release | base-files (>= 11)
Description: Installs the movealong apt repository
 This package installs an apt source for the movealong apt repository
 at https://dist.movealong.org/apt/.
 .
 The package automatically detects the distribution (Ubuntu/Debian) and
 codename to configure the appropriate repository source.
